.footer__item a, .promotions__submit, .promotions__input, .questions-answers__link a, .order__link a, .custom-clothing-bg__link, .hero-text__link, .header-link {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.custom-clothing-bg__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  background: #FFFFFF;
  border-radius: 2px;
}

.questions-answers__title, .order__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.questions-answers__text, .order__subtitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.promotions__submit, .questions-answers__link a, .order__link a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #212A2F;
  border: 2px solid #212A2F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.custom-clothing-bg__link:hover, .custom-clothing-bg__link:active, .custom-clothing-bg__link:focus, .hero-text__link:hover, .hero-text__link:active, .hero-text__link:focus {
  background: #212A2F;
  border-radius: 30px;
  color: #FFFFFF;
}

.promotions__submit:hover, .promotions__submit:active, .promotions__submit:focus, .promotions__input:hover, .promotions__input:active, .promotions__input:focus, .questions-answers__link a:hover, .questions-answers__link:active, .questions-answers__link:focus, .order__link a:hover, .order__link:active, .order__link:focus {
  background: #FFFFFF;
  border-radius: 30px;
  color: #212A2F;
}

.jackets__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.slider__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.slider__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #212A2F;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.visibility-hidden {
  display: none;
}

a {
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type=text] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0px auto;
  position: relative;
}

/*HEADER*/
.header {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -45px;
}
.main-nav__item:not(:last-child) {
  margin-right: 29px;
}

.header-link a {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212A2F;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

.header-link a:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #212A2F;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header-link a:hover:after,
.header-link a:active:after,
.header-link a:focus:after {
  width: 100%;
}

.logo img {
  cursor: pointer;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
}
.user-nav__list:not(:last-child) {
  margin-right: 63px;
}
.user-nav__log {
  position: relative;
}
.user-nav__log:before {
  display: block;
  position: absolute;
  left: 55px;
  right: 0;
  width: 19.06px;
  height: 23.72px;
  content: url(../svg/icon/user-login.svg);
}
.user-nav__stores {
  position: relative;
}
.user-nav__stores:before {
  display: block;
  position: absolute;
  left: 65px;
  right: 0px;
  width: 25px;
  height: 25px;
  content: url(../svg/icon/user-stores.svg);
}

.hero {
  min-height: 740px;
  background: url("../img/bg/bg-1.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: anim 35s infinite;
          animation: anim 35s infinite;
}
@-webkit-keyframes anim {
  0% {
    background: url("../img/bg/bg-1.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  20% {
    background: url("../img/bg/bg-2.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../img/bg/bg-3.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  60% {
    background: url("../img/bg/bg-1.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  80% {
    background: url("../img/bg/bg-2.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../img/bg/bg-3.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@keyframes anim {
  0% {
    background: url("../img/bg/bg-1.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  20% {
    background: url("../img/bg/bg-2.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../img/bg/bg-3.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  60% {
    background: url("../img/bg/bg-1.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  80% {
    background: url("../img/bg/bg-2.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../img/bg/bg-3.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero-text__slogan {
  font-size: 48px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding-top: 495px;
  margin-bottom: 11px;
  color: #FFFFFF;
}
.hero-text__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-bottom: 26px;
}
.hero-text__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  background: #FFFFFF;
  border-radius: 2px;
}
.hero-text__link:not(:last-child) {
  margin-right: 24px;
}
.hero-text__link-order {
  padding: 16px 64px;
}
.hero-text__link-custom {
  padding: 16px 23px;
}

.custom-clothing {
  min-height: 897px;
}
.custom-clothing__title {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212A2F;
  padding-top: 86px;
  padding-bottom: 26px;
  margin-bottom: 62px;
  border-bottom: 1px solid #D3D4D5;
}
.custom-clothing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-clothing-bg {
  width: 396px;
  height: 396px;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.custom-clothing-bg__link {
  z-index: 1;
}
.link-jackets {
  padding: 15px 94px;
}

.link-outerwear {
  padding: 15px 88px;
}

.link-shoppers {
  padding: 15px 94px;
}

.custom-clothing-jackets {
  background: url("../img/custom-clothing-bg/kurtis.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-clothing-outerwear {
  background: url("../img/custom-clothing-bg/outerwear.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-clothing-shoppers {
  background: url("../img/custom-clothing-bg/shoppers.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-clothing-text {
  margin-left: 30px;
}
.custom-clothing-text__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #D3D4D5;
  margin-bottom: 17px;
}
.custom-clothing-text__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #212A2F;
  position: relative;
  padding-left: 42px;
  margin-bottom: 50px;
}
.custom-clothing-text__text::before {
  content: url("../svg/icon/jackets-of-any-size.svg");
  display: block;
  position: absolute;
  left: 0px;
  top: -2px;
  right: 0px;
  width: 30px;
  height: 30px;
}

.babackground-photo-one {
  height: 542px;
  background: url("../img/babackground-photo/babackground-photo-one.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.order {
  min-height: 360px;
}
.order__title {
  padding-top: 68px;
  margin-bottom: 26px;
}
.order__subtitle {
  margin-bottom: 51px;
}
.order__link {
  text-align: center;
}
.order__link a {
  padding: 17px 154px;
}
.jackets {
  min-height: 733px;
}
.jackets__title {
  margin-bottom: 24px;
}

.slider__img {
  width: 396px;
  height: 396px;
  margin-bottom: 17px;
}
.slider__subtitle {
  margin-bottom: 10px;
  margin-left: 18px;
}
.slider__text {
  margin-left: 18px;
}

.babackground-photo-two {
  height: 542px;
  background: url("../img/babackground-photo/babackground-photo-two.png") no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.questions-answers {
  min-height: 350px;
}
.questions-answers__title {
  padding-top: 47px;
  margin-bottom: 41px;
}
.questions-answers__text {
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 471px;
}
.questions-answers__link {
  text-align: center;
  margin-bottom: 100px;
}
.questions-answers__link a {
  padding: 16px 20px;
}
.babackground-photo-three {
  height: 542px;
  background: url("../img/babackground-photo/babackground-photo-three.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.shoppers {
  min-height: 738px;
}
.shoppers__title {
  margin-top: 111px;
  margin-bottom: 24px;
}

.promotions {
  min-height: 433px;
}
.promotions__title {
  margin-top: 48px;
  margin-bottom: 35px;
  text-align: center;
}
.promotions__subtitle {
  margin-bottom: 74px;
  text-align: center;
}
.promotions__form {
  text-align: center;
  margin-bottom: 24px;
}
.promotions__input {
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 21px 362px 15px 60px;
  border: none;
  border-bottom: solid 2px #212A2F;
}
.promotions__input:hover, .promotions__input:active, .promotions__input:focus {
  border: solid 2px #212A2F;
  padding: 21px 462px 21px 30px;
  -webkit-box-shadow: 0px 0px 30px -9px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 30px -9px rgba(34, 60, 80, 0.2);
}
.promotions__submit {
  padding: 17px 20px;
  margin-left: 15px;
  cursor: pointer;
}
.promotions__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #74797C;
  margin-bottom: 126px;
}

.footer {
  min-height: 376px;
  background-color: #212A2F;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 53px;
}
.footer__title {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.footer__list:not(:last-child) {
  margin-right: 135px;
}
.footer__item {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.footer__item a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2;
  text-decoration: none;
}
.footer__item a:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #FFFFFF;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.footer__item a:hover:after, .footer__item a:active:after, .footer__item a:focus:after {
  width: 100%;
}
.footer__text {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-top: 100px;
}